* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header .header__container .menu nav ul li {
  font-size: 0.9rem;
  font-weight: 500;
}
header .header__container .menu nav ul li:hover {
  color: #b61984;
}
header .header__container .menu .inmenu button {
  box-shadow: 0 0 0 2em #b61984 inset;
  border-radius: 50px;
  padding: 15px 15px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 300ms ease;
  margin-left: 30px;
}
header .header__container .menu .inmenu button:hover {
  box-shadow: 0 0 0 2em #ffffff inset;
  color: #b61984;
  border: 1px solid #b61984;
}/*# sourceMappingURL=index.css.map */