* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@mixin button-thame {
    box-shadow: 0 0 0 2em #b61984 inset;
    border-radius: 50px;
    padding: 15px 15px;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 500;
    transition: all 300ms ease;
    margin-left: 30px;


    &:hover {
        box-shadow: 0 0 0 2em #ffffff inset;
        color: #b61984;
        border: 1px solid #b61984;
    }

}

header {
    .header__container {
        .menu {
            nav {
                ul {
                    li {
                        font-size: .9rem;
                        font-weight: 500;

                        &:hover {
                            color: #b61984;
                        }
                    }
                }
            }

            .inmenu {
                button {

                    @include button-thame();
                }
            }
        }
    }
}